@model ticariOtomasyon.Models.Siniflar.Faturalar

@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Yeni Fatura Sayfası</h2>

<br />

<form class="form-group" method="post">
    @Html.LabelFor(s => s.FaturaSeriNo)
    @Html.TextBoxFor(s => s.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(s => s.FaturaSiraNo)
    @Html.TextBoxFor(s => s.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(s => s.VergiDairesi)
    @Html.TextBoxFor(s => s.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(s => s.Tarih)
    @Html.TextBoxFor(s => s.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(s => s.Saat)
    @Html.TextBoxFor(s => s.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(s => s.TeslimEden)
    @Html.TextBoxFor(s => s.TeslimEden, new { @class = "form-control" })

    <br />
    @Html.LabelFor(s => s.TeslimAlan)
    @Html.TextBoxFor(s => s.TeslimAlan, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">Kaydet</button>

</form>
