@using ticariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Seri-Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>

            <td>@k.FaturaSeriNo - @k.FaturaSiraNo</td>
            <td>@k.Tarih</td>
            <td>@k.Saat</td>
            <td>@k.Toplam ₺</td>
            <td><a href="/FaturaKalem/FaturaGetir/@k.Faturaid" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/FaturaKalem/FaturaDetay/@k.Faturaid" class="btn btn-success" style="background-color:blueviolet">Detaylar</a></td>
            <td><a href="/FaturaKalem/FaturaDetay/@k.Faturaid" class="btn btn-success" style="background-color:thistle">Kalem</a></td>

        </tr>
    }

</table>

<a href="/FaturaKalem/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button" class="btn btn-warning" style="background-color:#d95151; color:white" data-toggle="modal" data-target="#Modal1">Pop-Up Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Pop-Up Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>

                            <td>@x.FaturaSeriNo</td>
                            <td>@x.FaturaSiraNo</td>
                            <td>@x.Toplam</td>




                        </tr>
                    }
                </table>
                <button type="button"class="btn btn-danger"data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>