@using ticariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Detayı</h2>

<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Ad >@ViewBag.dp</li>
</ol>
<table class="table table-condensed">
    <tr>
        <th>Satış id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Satisid</td>
            <td>@s.Urun.UrunAd</td>
            <td>@s.Cariler.CariAd @s.Cariler.CariSoyad</td>
            <td>@s.Personel.PersonelAd @s.Personel.PersonelSoyad</td>
            <td>@s.Fiyat</td>
            <td>@s.Adet</td>
            <td>@s.ToplamTutar</td>
            <td>@s.Tarih</td>
        </tr>
    }
</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>

